{% extends "modules/dashboard.html.twig" %}

{% block head %}
    {{ parent() }}

    <link rel="stylesheet" href="/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/node_modules/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="/node_modules/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/node_modules/datatables.net-searchbuilder-bs4/css/searchBuilder.bootstrap4.min.css">
{% endblock %}

{% block content %}
    <!-- Main content -->
    <div class="content">
        <div id="contenedor" class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <form id="order">
                        <div class="card card-outline card-info">
                            <div class="card-header">
                                <h3 class="card-title">Nuevo Pedido</h3>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="organization">Organizaci&oacute;n</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-building"></i>
                                                    </span>
                                                </div>
                                                <select id="organization" name="organization" class="form-control" required>
                                                   {% if organization.getId > 0%}
                                                        <option value="{{ organization.getId }}">{{ organization.getName }}</option>
                                                   {% else %}
                                                        <option value="0">-- Seleccione una Opci&oacute;n --</option>
                                                        {% for org in organization %}
                                                            <option value="{{ org.getId }}">{{ org.getName }}</option>
                                                        {% endfor %}
                                                    {% endif %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="bpartner">Cliente</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-id-card"></i>
                                                    </span>
                                                </div>
                                                <input id="bpartner" name="bpartner" type="text" class="form-control" onkeyup="if(event.keyCode == 13){ $('#setBpartner').click(); }" placeholder="Nombre o RIF" required>
                                                <input id="bpartner_id" name="bpartner_id" type="hidden">
                                                <div class="input-group-prepend">
                                                    <button id="setBpartner" class="btn btn-info btn-flat" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                    <button class="btn btn-warning btn-flat" type="button" data-toggle="modal" data-target="#bpartnerModal">
                                                        <i class="fas fa-binoculars"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="documenttype">Tipo de Documento</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-file-invoice"></i>
                                                    </span>
                                                </div>
                                                <select name="documenttype" id="documenttype" type="text" class="form-control">
                                                    {% for doc in doctype %}
                                                        <option value="{{ doc.getId }}">{{ doc.getName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="document">Nro de Documento</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                </div>
                                                <input id="document" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="document">Vendedor</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                </div>
                                                <input id="salesrep" name="salesrep" value="{{ user.getName }}" type="text" class="form-control" onkeyup="if(event.keyCode == 13){ $('#setSalesrep').click(); }" placeholder="Nombre" required readonly>
                                                <input id="salesrep_id" name="salesrep_id" value="{{ user.getId }}" type="hidden">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="document">Almac&eacute;n</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-search"></i>
                                                    </span>
                                                </div>
                                                <select id="warehouse" name="warehouse" class="form-control" required>
                                                    <option value="0">-- Seleccione una Opci&oacute;n --</option>
                                                    {% for ware in warehouses %}
                                                        <option 
                                                            value="{{ ware.getId }}" 
                                                            {% if ware.getId == warehouse.getId %}
                                                                selected="selected"
                                                            {% endif %}
                                                        >{{ ware.getName }}</option>
                                                    {% endfor %}
                                                 </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <label for="description">Descripci&oacute;n</label>
                                            <div class="input-group mb-3">
                                                <textarea name="description" id="description" class="form-control" rows="2">{{ order.getDescription }}</textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="address">Direcci&oacute;n</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-map"></i>
                                                    </span>
                                                </div>
                                                <select name="address" id="address" type="text" class="form-control" disabled></select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="phone">Tel&eacute;fono</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-phone"></i>
                                                    </span>
                                                </div>
                                                <input id="phone" type="text" class="form-control" disabled>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="currency">Moneda</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-dollar-sign"></i>
                                                    </span>
                                                </div>
                                                <select name="currency" id="currency" class="form-control" readonly>
                                                    <option value="100">USD</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="pricelist">Lista de Precio</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-clipboard-list"></i>
                                                    </span>
                                                </div>
                                                <select name="pricelist" id="pricelist" class="form-control" required>
                                                    <option value="0" selected>-- Seleccione una Opci&oacute;n --</option>
                                                    {% for list in pricelist %}
                                                        <option value="{{ list.getId }}">{{ list.getName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="paymentrule">Regla de Pago</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-hand-holding-usd"></i>
                                                    </span>
                                                </div>
                                                <select name="paymentrule" id="paymentrule" class="form-control" disabled>
                                                    <option value="P" checked="true">Con Termino de Pago</option>    
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <label for="paymentterm">T&eacute;rmino de Pago</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-hand-holding-usd"></i>
                                                    </span>
                                                </div>
                                                <select name="paymentterm" id="paymentterm" class="form-control" required>
                                                    {% for term in paymentterm %}
                                                        <option value="{{ term.getId }}">{{ term.getName }}</option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-info">
                        <div class="card-body p-0">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th class="text-center">#</th>
                                        <th class="text-center">Nombre</th>
                                        <th class="text-center">C&oacute;digo</th>
                                        <th class="text-center">Precio</th>
                                        <th class="text-center">Cantidad</th>
                                        <th class="text-center">Total</th>
                                        <th class="text-center"></th>
                                    </tr>
                                </thead>
                                <tbody id="tablaProductos">
                                    <tr id="cleanline">
                                        <td style="vertical-align: middle; text-align: center;">+</td>
                                        <td style="vertical-align: middle; text-align: center;">+</td>
                                        <td style="vertical-align: middle; text-align: center;">
                                            <input id="product_1" type="text" placeholder="XXXX000001">
                                        </td>
                                        <td style="vertical-align: middle; text-align: center;">+</td>
                                        <td style="vertical-align: middle; text-align: center;">+</td>
                                        <td style="vertical-align: middle; text-align: center;">+</td>
                                        <td><button class="btn btn-info float-right" data-toggle="modal" data-target="#productModal"><i class="fas fa-plus"></i> Agregar Producto</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="docstatus">Estatus del Documento</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-receipt"></i>
                                                </span>
                                            </div>
                                            <input id="docstatus" type="text" value="** Nuevo **" class="form-control" readonly>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="totallines">Sub Total</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-dollar-sign"></i>
                                                </span>
                                            </div>
                                            <input id="totallines" type="text" value="0.00" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="taxcategory">Impuestos</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-balance-scale"></i>
                                                </span>
                                            </div>
                                            <input id="taxcategory" type="text" value="0.00" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label for="grandtotal">Total</label>
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="fas fa-receipt"></i>
                                                </span>
                                            </div>
                                            <input id="grandtotal" type="text" value="0.00" class="form-control" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="card card-outline card-info">
                        <div class="card-body">
                            <div class="d-flex justify-content-between">
                                <button id="cancel" class="mx-1 btn btn-lg btn-danger"><i class="fas fa-cog pr-2"></i>Anular</button>
                                <button id="process" class="mx-1 btn btn-lg btn-success"><i class="fas fa-cog pr-2"></i>Preparar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Client Modal -->
    <div class="modal fade" id="bpartnerModal" style="display: none;" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Buscar Cliente</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card card-outline card-warning">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form onsubmit="event.preventDefault(); $('#getBpartners').click();">
                                        <div class="form-group">
                                            <label for="bpartner_value">Cliente</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-user"></i>
                                                    </span>
                                                </div>
                                                <input id="bpartner_value" type="text" class="form-control" placeholder="Nombre o RIF">
                                                <div class="input-group-prepend">
                                                    <button id="getBpartners" class="btn btn-info btn-flat" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="bpartners" class="card-body">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- SalesRep Modal -->
    <div class="modal fade" id="salesrepModal" style="display: none;" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Buscar Vendedor</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card card-outline card-warning">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form onsubmit="event.preventDefault(); $('#getSalesreps').click();">
                                        <div class="form-group">
                                            <label for="salesrep_value">Representante Comercial</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-user"></i>
                                                    </span>
                                                </div>
                                                <input id="salesrep_value" type="text" class="form-control" placeholder="Nombre">
                                                <div class="input-group-prepend">
                                                    <button id="getSalesreps" class="btn btn-info btn-flat" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="salesreps" class="card-body">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Product Modal -->
    <div class="modal fade" id="productModal" style="display: none;" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Buscar Producto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="card card-outline card-warning">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form onsubmit="event.preventDefault(); $('#getProducts').click();">
                                        <div class="form-group">
                                            <label for="product_value">Producto</label>
                                            <div class="input-group mb-3">
                                                <div class="input-group-prepend">
                                                    <span class="input-group-text">
                                                        <i class="fas fa-boxes"></i>
                                                    </span>
                                                </div>
                                                <input id="product_value" type="text" class="form-control" placeholder="Nombre, C&oacute;digo o SKU">
                                                <div class="input-group-prepend">
                                                    <button id="getProducts" class="btn btn-info btn-flat" type="button">
                                                        <i class="fas fa-search"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="products" class="card-body">
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}

    <script src="/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/node_modules/datatables.net-dt/js/dataTables.dataTables.min.js"></script>
    <script src="/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/node_modules/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/node_modules/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/node_modules/jszip/dist/jszip.min.js"></script>
    <script src="/node_modules/pdfmake/build/pdfmake.min.js"></script>
    <script src="/node_modules/pdfmake/build/vfs_fonts.js"></script>
    <script src="/node_modules/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/node_modules/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/node_modules/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    <script src="/node_modules/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="/node_modules/datatables.net-searchbuilder/js/dataTables.searchBuilder.min.js"></script>
    <script src="/node_modules/datatables.net-searchbuilder-bs4/js/searchBuilder.bootstrap4.min.js"></script>
{% endblock %}

{% block scripts %}
    <script>App.Jaxon.Order.init();</script>
{% endblock %}